doctype html
html
  include includes/head.pug
  body
    
    include includes/mainNav.pug
    #container
      if user
        if editPoll
          include components/editPoll.pug
        else
          include components/newPoll.pug
      else
        h1 You must sign up to create or edit a poll
    
    include includes/footer.pug
    
    include includes/scripts.pug